<div class="govuk-box-highlight">
	{{> _assets/typography/h1(label: "Application submitted") }}
	<p>Your reference number is <br> <strong class="heading-medium">HDJ2123F</strong></p>
	<p>Email confirmation sent to <a href="#">{{user.emailAddress}}</a></p>
	<p><i class="fa fa-file-text"></i> <a href="#">Download a receipt</a></p>
</div>
