{{> _assets/headers/default-header }}

<main id="content" role="main">
	{{> _assets/components/phase-banner(phase: "ALPHA", phase-desc: "Registers of Scotland - Pattern Library") }}

	<div class="grid-row">
		<div class="column-two-thirds">
			{{> _assets/typography/h1(label: "Login to the application") }}

			<form>
				{{> _assets/forms/input-text-default(for-id: "username", label: "Username") }}
				{{> _assets/forms/input-text-default(for-id: "password", label: "Password") }}

				{{> _assets/forms/button-primary(label: "Login") }}
				{{> _assets/forms/button-secondary(label: "Forgot password?", url: "#") }}
			</form>
		</div>
	</div>
</main>

{{> _assets/footer/default-footer }}
