{{> _assets/forms/input-checkbox(for-id: "sample-checkbox-01", label: "Sample checkbox 01") }}
{{> _assets/forms/input-checkbox(for-id: "sample-checkbox-02", label: "Sample checkbox 02") }}
{{> _assets/forms/input-checkbox(for-id: "sample-checkbox-03", label: "Sample checkbox 03") }}