<style>@import "../../css/docs/docs.min.css?{{ cacheBuster }}";</style>

{{> _assets/headers/default-header }}

<div id="docs">
	<main id="content" role="main">
		<div class="grid-row">
			<div class="column-two-thirds">
				<h1 id="registers-of-scotland-pattern-library">Registers of Scotland Pattern Library</h1>
<h2 id="overview">Overview</h2>
<p>The Registers of Scotland Pattern Library is a collection of web application elements, components and design patterns that implements <a href="http://govuk-elements.herokuapp.com/">GDS Design Principles</a> and <a href="http://atomicdesign.bradfrost.com/">Atomic Design Methodology</a>.</p>
<h3 id="gov-uk-designs-and-patterns">GOV.UK designs and patterns</h3>
<p>Registers of Scotland utilises the following GDS SASS/CSS and JavaScript frameworks:</p>
<ul>
<li><a href="http://govuk-elements.herokuapp.com/">Elements</a></li>
<li><a href="https://github.com/alphagov/govuk_frontend_toolkit#documentation">Front-End Toolkit</a></li>
<li><a href="http://alphagov.github.io/govuk_template/">Template</a></li>
<li><a href="http://rural-payments-styleguide.herokuapp.com/">Rural Payment Styleguide</a></li>
<li><a href="https://dwp-patterns.herokuapp.com/">DWP design patterns</a></li>
</ul>
<h3 id="who-would-benefit-from-the-pattern-library-">Who would benefit from the Pattern Library?</h3>
<p>UI designers/developers, UX designers and anyone who is/are planning of creating web application(s) in Registers of Scotland would benefit from the Pattern Library.</p>
<p>This will give your service consistency with the rest of ROSGOV.UK and give you access to our latest patterns and guidance. It will also make it easy to update your service to match changes to the core site.</p>

			</div>
		</div>
	</main>
</div>

{{> _assets/footer/default-footer }}
