<table class="table-font-xsmall">
	<thead>
		<tr>
			<th id="ref-number">
				<a href="#">Ref. number <span class="fa fa-sort"></span></a>
			</th>
			<th id="service">
				<a href="#">Service <span class="fa fa-sort"></span></a>
			</th>
			<th id="amount">
				<a href="#">Amount <span class="fa fa-sort"></span></a>
			</th>
			<th id="status">
				<a href="#">Status <span class="fa fa-sort"></span></a>
			</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td headers="ref-number">ID001-09</td>
			<td headers="service">Etiam nec tellus consectetur</td>
			<td headers="amount">&pound;112.75</td>
			<td headers="status">Authorised</td>
		</tr>
		<tr>
			<td headers="ref-number">ID001-08</td>
			<td headers="service">Etiam nec tellus consectetur</td>
			<td headers="amount">&pound;113.75</td>
			<td headers="status">Paid</td>
		</tr>
		<tr>
			<td headers="ref-number">ID001-08</td>
			<td headers="service">Etiam nec tellus consectetur</td>
			<td headers="amount">&pound;113.75</td>
			<td headers="status">Paid</td>
		</tr>
		<tr>
			<td headers="ref-number">ID001-08</td>
			<td headers="service">Etiam nec tellus consectetur</td>
			<td headers="amount">&pound;113.75</td>
			<td headers="status">Paid</td>
		</tr>
	</tbody>
</table>