<div class="multiple-choice"{{#data-target}} data-target="{{target}}"{{/data-target}}>
	<input id="{{for-id}}" type="checkbox" name="radio-contact-group" value="{{value}}">
	<label for="{{for-id}}">{{label}}</label>
</div>
