<table class="check-your-answers">
	<thead>
		<tr>
			<th class="heading-large" colspan="3">Category</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<th id="header-1">Header title-1</th>
			<td headers="header-1">Data-1</td>
			<td class="change-answer">
				{{> _assets/typography/link-page(label: "Change", url: "#") }}
			</td>
		</tr>
		<tr>
			<th id="header-2">Header title-2</th>
			<td headers="header-2">Data-2</td>
			<td class="change-answer">
				{{> _assets/typography/link-page(label: "Change", url: "#") }}
			</td>
		</tr>
		<tr>
			<th id="header-3">Header title-3</th>
			<td headers="header-3">Data-3</td>
			<td class="change-answer">
				{{> _assets/typography/link-page(label: "Change", url: "#") }}
			</td>
		</tr>
	</tbody>
</table>
