{{> _assets/headers/default-header }}

<main id="content" role="main">
	{{> _assets/components/phase-banner(phase: "ALPHA", phase-desc: "Registers of Scotland - Pattern Library") }}

	<div class="grid-row">
		<div class="column-two-thirds">
			{{> _assets/typography/h1(label: "Your address history") }}

			<table class="table-font-xsmall form-group">
				<thead>
					<tr>
						<th id="address">Address</th>
						<th id="date-from">Date from</th>
						<th id="action">
							<span class="visuall-hidden">Action</span>
						</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td headers="address">153/3 Wilson Street, Edinburgh, EH1 1EA</td>
						<td headers="date-from">09/2015</td>
						<td headers="action">
							{{> _assets/typography/link-page(label: "Remove", url: "#") }}
						</td>
					</tr>
				</tbody>
			</table>

			{{> _assets/typography/text-inset(label: "The address history for the past 5 years is not complete. Please enter a previous address.") }}

			<form action="{{ link.pages-find-address }}" method="get">
				<div class="form-group">
					<fieldset class="inline">
						<legend class="heading-medium">Is the address in Scotland?</legend>

						{{> _assets/forms/input-radio(for-id: "yes-in-scotland", group: "address-in-scotland", label: "Yes") }}
						{{> _assets/forms/input-radio(for-id: "no-in-scotland", group: "address-in-scotland", label: "No") }}
					</fieldset>
				</div>

				{{> _assets/forms/button-primary(label: "Continue") }}
			</form>
		</div>
	</div>
</main>

{{> _assets/footer/default-footer }}
