<table class="table-font-xsmall">
	<thead>
		<tr>
			<th id="heading-1">Heading title-1</th>
			<th id="heading-2">Heading title-2</th>
			<th id="heading-3">Heading title-3</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td headers="heading-1">Data-1</td>
			<td headers="heading-2">Data-2</td>
			<td headers="heading-3">Data-3</td>
		</tr>
		<tr>
			<td headers="heading-1">Data-1</td>
			<td headers="heading-2">Data-2</td>
			<td headers="heading-3">Data-3</td>
		</tr>
		<tr>
			<td headers="heading-1">Data-1</td>
			<td headers="heading-2">Data-2</td>
			<td headers="heading-3">Data-3</td>
		</tr>
	</tbody>
</table>