<a href="#" data-toggle="dialog" data-target="dialog-1">Show "warning modal dialog"</a>

<div class="dialog" id="dialog-1" aria-hidden="true">
  <div class="dialog-holder" aria-labelledby="title-1" aria-describedby="content-1" role="alertdialog">
    <div class="dialog-content" id="content-1" role="document" tabindex="0">

      <h1 class="dialog-heading" id="title-1">Warning modal dialog</h1>

      <form class="form">
        <p>Nunc lectus nibh, placerat et tempus quis, elementum quis odio. Mauris elementum, mauris sed tempus cursus, elit lacus vulputate lorem, ac rutrum lectus sapien et turpis. Aenean sed lectus justo.</p>

        <div class="dialog-actions">
          <button class="button" type="submit">Yes</button>
          <a class="dialog-cancel" href="#">No</a>
        </div>

        <button class="dialog-close" aria-label="close" type="button">
          <span class="fa fa-close"></span>
        </button>
      </form>
    </div>
  </div>
</div>
