<style>@import "../../css/docs/docs.min.css?{{ cacheBuster }}";</style>

{{> _assets/headers/default-header }}

<div id="docs">
	<main id="content" role="main">
		<div class="grid-row">
			<div class="column-two-thirds">
				<h1 id="colours">Colours</h1>
<h2 id="backgrounds">Backgrounds</h2>
<div class="grid-row">
    <div class="column-one-quarter">
        <div class="granite"></div>
        <p>
            <span class="hex">#565A5C</span>
            <span class="sass">$granite</span>
        </p>
    </div>
    <div class="column-one-quarter">
        <div class="sapphire"></div>
        <p>
            <span class="hex">#00B2E2</span>
            <span class="sass">$sapphire</span>
        </p>
    </div>
    <div class="column-one-quarter">
        <div class="govuk-grey-2"></div>
        <p>
            <span class="hex">#BFC1C3</span>
            <span class="sass">$grey-2</span>
        </p>
    </div>
    <div class="column-one-quarter">
        <div class="govuk-grey-3"></div>
        <p>
            <span class="hex">#DEE0E2</span>
            <span class="sass">$grey-3</span>
        </p>
    </div>
    <div class="column-one-quarter">
        <div class="govuk-red"></div>
        <p>
            <span class="hex">#B10E1E</span>
            <span class="sass">$red</span>
        </p>
    </div>
    <div class="column-one-quarter">
        <div class="alert-warning-bg"></div>
        <p>
            <span class="hex">#F7E7E9</span>
            <span class="sass">$alert-warning-bg</span>
        </p>
    </div>
    <div class="column-one-quarter">
        <div class="govuk-blue"></div>
        <p>
            <span class="hex">#005EA5</span>
            <span class="sass">$govuk-blue</span>
        </p>
    </div>
    <div class="column-one-quarter">
        <div class="alert-default-bg"></div>
        <p>
            <span class="hex">#E6F7FC</span>
            <span class="sass">$alert-default-bg</span>
        </p>
    </div>
    <div class="column-one-quarter">
        <div class="govuk-turquoise"></div>
        <p>
            <span class="hex">#28A197</span>
            <span class="sass">$turquoise</span>
        </p>
    </div>
    <div class="column-one-quarter">
        <div class="alert-positive-bg"></div>
        <p>
            <span class="hex">#E6F0EB</span>
            <span class="sass">$alert-positive-bg</span>
        </p>
    </div>
</div>


<h2 id="typography">Typography</h2>
<div class="grid-row">
    <div class="column-one-quarter">
        <div class="govuk-black"></div>
        <p>
            <span class="hex">#0B0C0C</span>
            <span class="sass">$black</span>
        </p>
    </div>
    <div class="column-one-quarter">
        <div class="govuk-blue"></div>
        <p>
            <span class="hex">#005EA5</span>
            <span class="sass">$govuk-blue</span>
        </p>
    </div>
    <div class="column-one-quarter">
        <div class="govuk-red"></div>
        <p>
            <span class="hex">#B10E1E</span>
            <span class="sass">$red</span>
        </p>
    </div>
</div>


<h2 id="buttons">Buttons</h2>
<div class="grid-row">
    <div class="column-one-quarter">
        <div class="slate"></div>
        <p>
            <span class="hex">#403B65</span>
            <span class="sass">$slate</span>
        </p>
    </div>
    <div class="column-one-quarter">
        <div class="btn-disabled"></div>
        <p>
            <span class="hex">#9F9DB2</span>
            <span class="sass">$btn-disabled</span>
        </p>
    </div>
    <div class="column-one-quarter">
        <div class="govuk-yellow"></div>
        <p>
            <span class="hex">#FFBF47</span>
            <span class="sass">$yellow</span>
        </p>
    </div>
</div>

			</div>
		</div>
	</main>
</div>

{{> _assets/footer/default-footer }}
