<style>@import "../../css/docs/docs.min.css?{{ cacheBuster }}";</style>

{{> _assets/headers/default-header }}

<div id="docs">
	<main id="content" role="main">
		<div class="grid-row">
			<div class="column-two-thirds">
				<h1 id="using-the-pattern-library">Using the Pattern Library</h1>
<p>The Pattern Library uses the <a href="http://atomicdesign.bradfrost.com/" rel="external">Atomic Design</a> methodology by Brad Frost. The idea is to bring associations and relationships of elements, components and patterns when designing our UI systems.</p>
<h2 id="for-ui-ux-designers">For UI/UX designers</h2>
<p>Main objective and goal of a UI/UX designer using the Pattern Library is to create or update new/existing patterns, as well as documenting these to serve a purpose of why and when to use such patterns. For example, a pattern for <a href="{{ link.pages-address-finder-enter-postcode }}">find address</a>.</p>
<h2 id="for-developers">For developers</h2>
<p>To view the HTML mark-up, click the menu &quot;code&quot; &gt; &quot;show pattern info&quot; option on the top-right corner of the browser. This will show the HTML mark-up and documentation of the pattern.</p>
<h3 id="assets">Assets</h3>
<ul>
<li><a href="../../css/rosgovuk.min.css">rosgovuk.min.css</a></li>
<li><a href="../../js/govuk.min.js">govuk.min.js</a></li>
</ul>

			</div>
		</div>
	</main>
</div>

{{> _assets/footer/default-footer }}
