<div class="form-group">
	<label class="form-label form-label-bold">{{label}}</label>
	<select class="form-control" id="select-box">
		{{#forms.addresses}}
		<option value="{{address}}">{{address}}</option>
		{{/forms.addresses}}
	</select>
</div>
