<div class="panel panel-border-narrow js-hidden" id="target-{{target}}">
  <label class="form-label" for="{{for-id}}">{{label}}</label>
  <input class="form-control" name="{{for-id}}" type="text" id="{{for-id}}">
</div>
