<div class="pager">
  <div class="pager-controls">

    <ul class="pager-items">
      <li>1</li>
      <li><a href="#">2</a></li>
      <li><a href="#">3</a></li>
      <li><a href="#">4</a></li>
      <li><a href="#">5</a></li>
    </ul>

    <a class="pager-next" href="#">Next</a>
    
  </div>
  <div class="pager-summary">Showing 1 &ndash; 50 of 146 agents</div>
</div>