<header role="banner" id="global-header" class="">
  <div class="header-wrapper">
    <div class="header-global">
      <div class="header-logo">
        <a href="https://www.ros.gov.uk/" title="Go to the ROS.GOV.UK homepage" id="logo" class="content">
          <img src="../../css/images/ros-logo-white.svg" height="32" alt=""> {{ service-title }}
        </a>
      </div>
    </div>
  </div>
</header>

<div id="global-header-bar"></div>
