<div class="pager">
  <div class="pager-controls">

    <a class="pager-prev" href="#">Prev</a>

    <ul class="pager-items">
      <li>6</li>
      <li><a href="#">7</a></li>
      <li><a href="#">8</a></li>
      <li><a href="#">9</a></li>
      <li><a href="#">10</a></li>
    </ul>

    <a class="pager-next" href="#">Next</a>

  </div>
  <div class="pager-summary">Showing 1 &ndash; 50 of 146 agents</div>
</div>