<div class="form-group">
  <label class="form-label" for="{{for-id}}">{{label}}</label>
  <input class="form-control" id="{{for-id}}" name="{{for-id}}" type="text">
</div>
<div class="multiple-choice">
  <input id="{{checkbox-for-id}}" name="{{group}}" type="checkbox" value="true">
  <label for="{{checkbox-for-id}}">{{checkbox-label}}</label>
</div>
