<div class="collapsible collapsible-borders">
  <h2 class="heading-large">{{ title }}</h2>

  <div class="collapsible-item">
    <div class="collapsible-heading">
      <h3>
        <span class="collapsible-heading-primary">01 {{ title }}-item</span> 
        <span class="collapsible-heading-secondary">01  {{ title }}-item-subtitle</span>
      </h3>
    </div>

    <div class="collapsible-content">
      <p>Sed sed neque in elit facilisis lacinia at vitae felis. Mauris accumsan vulputate quam, nec commodo tellus laoreet id. Nulla non porttitor ante, nec semper justo.</p>
      <ul class="list list-bullet">
        <li>list-item 01</li>
        <li>list-item 02</li>
        <li>list-item 03</li>
      </ul>
    </div>
  </div>

  <div class="collapsible-item">
    <div class="collapsible-heading">
      <h3>
        <span class="collapsible-heading-primary">02 {{ title }}-item</span> 
        <span class="collapsible-heading-secondary">02 {{ title }}-item-subtitle</span>
      </h3>
    </div>

    <div class="collapsible-content">
      <p>Sed sed neque in elit facilisis lacinia at vitae felis. Mauris accumsan vulputate quam, nec commodo tellus laoreet id. Nulla non porttitor ante, nec semper justo.</p>
      
      <p>
        {{> _assets/typography/link-page(label: "Related link", url: "#") }}
      </p>
    </div>
  </div>

  <div class="collapsible-item">
    <div class="collapsible-heading">
      <h3>
        <span class="collapsible-heading-primary">03 {{ title }}-item</span> 
        <span class="collapsible-heading-secondary">03 {{ title }}-item-subtitle</span>
      </h3>
    </div>

    <div class="collapsible-content">
      <p>Sed sed neque in elit facilisis lacinia at vitae felis. Mauris accumsan vulputate quam, nec commodo tellus laoreet id. Nulla non porttitor ante, nec semper justo.</p>
      
      <p>
        {{> _assets/typography/link-page(label: "Related link", url: "#") }}
      </p>
    </div>
  </div>
</div>